In [2]:
from decimal import Decimal

In [10]:
a = Decimal('1')
b = Decimal('1')

In [11]:
a == b

True

In [12]:
a is b # 是否是同一对象

False

In [13]:
id(a), id(b)

(139920038130864, 139920038130528)

In [14]:
a = Decimal('1')
b = a

In [15]:
b is a

True

In [16]:
id(a), id(b)

(139920038131648, 139920038131648)

In [17]:
a = 0 + 1
b = 2 - 1
print(a is b)
print(a == b)

True
True

In [18]:
a = 'abc'
b = 'ab' + 'c'
print(a is b)
print(a == b)

True
True

In [4]:
a == b

True

In [22]:
[10] + [10] + [10]

[10, 10, 10]

In [31]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

s = [Student('张三', 19)] * 3

s[0].name = '王五'

[i.name for i in s]

['王五', '王五', '王五']

In [28]:
s = [[0]] * 3
s[0].append(1)
s

[[0, 1], [0, 1], [0, 1]]

In [29]:
x = [0]
s = [x] + [x] + [x]
s[0].append(1)
s

[[0, 1], [0, 1], [0, 1]]

In [30]:
s = [[0]] + [[0]] + [[0]]
s[0].append(1)
s

[[0, 1], [0], [0]]

In [32]:


s = [Student('张三', 19)] + [Student('张三', 19)] + [Student('张三', 19)]

s[0].name = '王五'

[i.name for i in s]

['王五', '张三', '张三']