In [1]:
from decimal import Decimal

In [36]:
a = Decimal('1')
b = Decimal('1')
print(a is b)
print(a == b)

False
True

In [37]:
print(id(a), id(b))

1945779201264 1945779202944

In [49]:
a = 0 + 1
b = 2 - 1
print(a is b)
print(a == b)

True
True

In [50]:
a = 'abc'
b = 'ab' + 'c'
print(a is b)
print(a == b)

True
True

In [4]:
a == b

True

In [24]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

s = [Student('张三', 19)] * 3
s[0].name = '王五'

[i.name for i in s]

['王五', '王五', '王五']

In [27]:
s = [[0]] * 3
s[0].append(1)

s

[[0, 1], [0, 1], [0, 1]]