In [1]:
from dataclasses import dataclass

In [2]:
students = [
    {'姓名': '张三', '年龄': 18, '成绩': 85},
    {'姓名': '李四', '年龄': 20, '成绩': 72},
    {'姓名': '王五', '年龄': 19, '成绩': 90},
    {'姓名': '赵六', '年龄': 22, '成绩': 55},
    {'姓名': '孙七', '年龄': 21, '成绩': 78},
]

In [22]:
students = [
    ('张三', 18, 85),
    ('李四', 20, 72),
    ('王五', 19, 90),
    ('赵六', 22, 55),
    ('孙七', 21, 78),
]

In [2]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

In [3]:
s1 = Student('张三', 18, 85)
s1

In [7]:
s1.name

'张三'

In [8]:
class Student:
    def __init__(self, name, age, grade):
        self.name = name
        self.age = age
        self.grade = grade

    def __repr__(self):
        return f'Student(name={repr(self.name)}, age={repr(self.age)}, grade={repr(self.grade)})'

In [9]:
s1 = Student('张三', 18, 85)
s1

Student(name='张三', age=18, grade=85)

In [10]:
students = [
    Student('张三', 18, 85),
    Student('李四', 20, 72),
    Student('王五', 19, 90),
    Student('赵六', 22, 55),
    Student('孙七', 21, 78),
    Student('赵六', 22, grade=55),
]

In [11]:
[s for s in students if s.grade >= 60]

[Student(name='张三', age=18, grade=85),
 Student(name='李四', age=20, grade=72),
 Student(name='王五', age=19, grade=90),
 Student(name='孙七', age=21, grade=78)]

In [13]:
from dataclasses import dataclass
from decimal import Decimal

@dataclass
class Student:
    name: str
    age: int
    grade: Decimal

In [15]:
s1 = Student('张三', 18, 85)
s1

Student(name='张三', age=18, grade=85)

In [8]:
s1.name

'张三'

In [14]:
s1.grade

85

In [16]:
students = [
    Student('张三', 18, 85),
    Student('李四', 20, 72),
    Student('王五', 19, 90),
    Student('赵六', 22, 55),
    Student('孙七', 21, 78),
    Student('赵六', 22, 55),
]

In [17]:
[s for s in students if s.grade >= 60]

[Student(name='张三', age=18, grade=85),
 Student(name='李四', age=20, grade=72),
 Student(name='王五', age=19, grade=90),
 Student(name='孙七', age=21, grade=78)]

In [19]:
from dataclasses import dataclass
from decimal import Decimal

@dataclass
class 学生:
    姓名: str
    年龄: int
    成绩: Decimal

In [20]:
s1 = 学生('张三', 18, 85)
s1

学生(姓名='张三', 年龄=18, 成绩=85)

In [21]:
s1.姓名

'张三'

In [22]:
students = [
    学生('张三', 年龄=18, 成绩=85),
    学生('李四', 20, 72),
    学生('王五', 19, 90),
    学生('赵六', 22, 55),
    学生('孙七', 21, 78),
    学生('赵六', 22, 55),
]

In [23]:
[s for s in students if s.成绩 >= 60]

[学生(姓名='张三', 年龄=18, 成绩=85),
 学生(姓名='李四', 年龄=20, 成绩=72),
 学生(姓名='王五', 年龄=19, 成绩=90),
 学生(姓名='孙七', 年龄=21, 成绩=78)]