In [2]:
data = """\
姓名,年龄,成绩
张三,18,85
李四,20,72
王五,19,90
孙七,21,78"""

In [3]:
lines = data.split('\n')
colnames = lines[0].split(',')
students = [dict(zip(colnames, line.split(','))) for line in lines[1:]]
students

[{'姓名': '张三', '年龄': '18', '成绩': '85'},
 {'姓名': '李四', '年龄': '20', '成绩': '72'},
 {'姓名': '王五', '年龄': '19', '成绩': '90'},
 {'姓名': '孙七', '年龄': '21', '成绩': '78'}]

In [4]:
for r in students:
    r['年龄'] = int(r['年龄'])
    r['成绩'] = float(r['成绩'])

students

[{'姓名': '张三', '年龄': 18, '成绩': 85.0},
 {'姓名': '李四', '年龄': 20, '成绩': 72.0},
 {'姓名': '王五', '年龄': 19, '成绩': 90.0},
 {'姓名': '孙七', '年龄': 21, '成绩': 78.0}]

In [5]:
lines = data.split('\n')
lines

['姓名,年龄,成绩', '张三,18,85', '李四,20,72', '王五,19,90', '孙七,21,78']

In [6]:
colnames = lines[0].split(',')
colnames

['姓名', '年龄', '成绩']

In [13]:
[line.split(',') for line in lines[1:]]

[['张三', '18', '85'],
 ['李四', '20', '72'],
 ['王五', '19', '90'],
 ['孙七', '21', '78']]

In [8]:
list(zip(colnames, ['张三', '18', '85']))

[('姓名', '张三'), ('年龄', '18'), ('成绩', '85')]

In [10]:
{ k:v for k, v in zip(colnames, ['张三', '18', '85'])}

{'姓名': '张三', '年龄': '18', '成绩': '85'}

In [17]:
[ { k:v for k, v in zip(colnames, line.split(','))} 
  for line in lines[1:]]

[{'姓名': '张三', '年龄': '18', '成绩': '85'},
 {'姓名': '李四', '年龄': '20', '成绩': '72'},
 {'姓名': '王五', '年龄': '19', '成绩': '90'},
 {'姓名': '孙七', '年龄': '21', '成绩': '78'}]

In [19]:
[dict(zip(colnames, line.split(','))) for line in lines[1:]]

[{'姓名': '张三', '年龄': '18', '成绩': '85'},
 {'姓名': '李四', '年龄': '20', '成绩': '72'},
 {'姓名': '王五', '年龄': '19', '成绩': '90'},
 {'姓名': '孙七', '年龄': '21', '成绩': '78'}]

In [ ]:
[ (line.split(',') for line in lines[1:]) ]

In [19]:
[s for s in students if s['成绩'] >= 60]

[{'姓名': '张三', '年龄': 18, '成绩': 85},
 {'姓名': '李四', '年龄': 20, '成绩': 72},
 {'姓名': '王五', '年龄': 19, '成绩': 90},
 {'姓名': '孙七', '年龄': 21, '成绩': 78}]

In [20]:
{s['姓名'] for s in students if s['成绩'] >= 60}

{'孙七', '张三', '李四', '王五'}