In [2]:
import numpy as np
import pandas as pd

## 1. 定义数据框

In [2]:
np.array([[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [3]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]],
             index = ["R1", "R2", "R3"],
             columns = ["C1", "C2", "C3"])

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [5]:
pd.DataFrame({"C1": [1, 4, 7],
              "C2": [2, 5, 8],
              "C3": [3, 6, 9]},
             index=["R1", "R2", "R3"])

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

## 2.定义序列(Series)

In [6]:
np.array([10, 20, 30, 40])

array([10, 20, 30, 40])

In [7]:
pd.Series([10, 20, 30, 40])

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
pd.Series([10, 20, 30, 40], index=['R1', 'R2', 'R3', 'R4'])

R1    10
R2    20
R3    30
R4    40
dtype: int64

In [3]:
pd.Series([10, 20, 30]) + 100

0    110
1    120
2    130
dtype: int64

In [7]:
pd.DataFrame([[10, 20], [30,40]]) + 100

     0    1
0  110  120
1  130  140

In [10]:
s1 = pd.Series([10,   20, 30, 40], index=['D1', 'D2', 'D3', 'D4'])
s2 = pd.Series([200, 100,    400], index=['D2', 'D1',       'D4'])

s1 + s2

D1    110.0
D2    220.0
D3      NaN
D4    440.0
dtype: float64

In [11]:
pd.Series([10, 20, 30]) + pd.Series([1, 2])

0    11.0
1    22.0
2     NaN
dtype: float64

In [12]:
pd.DataFrame({'A': s1, 'B': s2})

     A      B
D1  10  100.0
D2  20  200.0
D3  30    NaN
D4  40  400.0

In [13]:
pd.DataFrame([s2, s1])

      D2     D1     D4    D3
0  200.0  100.0  400.0   NaN
1   20.0   10.0   40.0  30.0