In [8]:
import numpy as np
import pandas as pd

## 1. 定义数据框

In [4]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]],
             index = ["Row1", "Row2", "Row3"],
             columns = ["Col1", "Col2", "Col3"])

      Col1  Col2  Col3
Row1     1     2     3
Row2     4     5     6
Row3     7     8     9

In [13]:
pd.DataFrame({"Col1": [1, 2, 3],
              "Col2": ['A', 'B', 'C']},
             index=["Row1", "Row2", "Row3"])

      Col1 Col2
Row1     1    A
Row2     2    B
Row3     3    C

## 2.定义序列(Series)

In [15]:
np.array([10, 20, 30, 40])

array([10, 20, 30, 40])

In [22]:
pd.Series([10, 20, 30, 40], index=[0, 1, 2, 3])

0    10
1    20
2    30
3    40
dtype: int64

In [23]:
pd.Series([10, 20, 30, 40], index=['Row1', 'Row2', 'Row3', 'Row4'])

Row1    10
Row2    20
Row3    30
Row4    40
dtype: int64

In [24]:
s1 = pd.Series([10, 20, 30, 40], index=[0, 1, 2, 3])
s2 = pd.Series([100, 200, 400], index=[0, 1, 3])

s1 + s2

0    110.0
1    220.0
2      NaN
3    440.0
dtype: float64

In [25]:
pd.DataFrame({'A': s1, 'B': s2})

    A      B
0  10  100.0
1  20  200.0
2  30    NaN
3  40  400.0

In [21]:
pd.DataFrame([s1, s2])

       0      1     2      3
0   10.0   20.0  30.0   40.0
1  100.0  200.0   NaN  400.0