In [1]:
import pandas as pd

In [11]:
data = {
    'A': [10, 20, 30, 40],
    'B': [11, 21, 31, 41],
}
df = pd.DataFrame(data)

print(df.to_latex())
# df.to_html()

\begin{tabular}{lrr}
\toprule
 & A & B \\
\midrule
0 & 10 & 11 \\
1 & 20 & 21 \\
2 & 30 & 31 \\
3 & 40 & 41 \\
\bottomrule
\end{tabular}

    A   B
0  10  11
1  20  21
2  30  31
3  40  41