In [2]:
import pandas as pd
import numpy as np

In [9]:
s1 = pd.Series([10,   20, 30, 40], index=[10, 11, 12, 13])
s2 = pd.Series([200, 100,    400], index=[11, 10,     13])

df = pd.DataFrame([s2, s1])

print(df.to_latex())

\begin{tabular}{lrrrr}
\toprule
 & 11 & 10 & 13 & 12 \\
\midrule
0 & 200.000000 & 100.000000 & 400.000000 & NaN \\
1 & 20.000000 & 10.000000 & 40.000000 & 30.000000 \\
\bottomrule
\end{tabular}

In [3]:
import pandas as pd

df1 = pd.DataFrame({'A': [0, 1], 'B': [2, 3]})

df2 = pd.DataFrame({'B': [4, 5], 'A': [6, 7]})

df1 + df2

   A  B
0  6  6
1  8  8

Why Are There So Many Python Dataframes?
https://ponder.io/why-are-there-so-many-python-dataframes/

In [15]:
import pandas as pd

df = pd.DataFrame({'数量': list(range(1, 10))}, index=pd.date_range('2023-9-1', periods=9, freq='M'))
df

            数量
2023-09-30   1
2023-10-31   2
2023-11-30   3
2023-12-31   4
2024-01-31   5
2024-02-29   6
2024-03-31   7
2024-04-30   8
2024-05-31   9

In [16]:
df.loc['2023']

            数量
2023-09-30   1
2023-10-31   2
2023-11-30   3
2023-12-31   4

In [17]:
df.loc['2023-10']

            数量
2023-10-31   2

In [21]:
df.resample('3m').sum()

            数量
2023-09-30   1
2023-12-31   9
2024-03-31  18
2024-06-30  17

In [5]:
def calculate_gpa(score):
    if score >= 90:
        return 4.0
    elif score >= 85:
        return 3.7
    elif score >= 82:
        return 3.3
    elif score >= 78:
        return 3.0
    elif score >= 75:
        return 2.7
    elif score >= 72:
        return 2.3
    elif score >= 68:
        return 2.0
    elif score >= 64:
        return 1.5
    elif score >= 60:
        return 1.0
    else:
        return 0.0
        
pd.Series([99, 87]).apply(calculate_gpa)

0    4.0
1    3.7
dtype: float64

In [11]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# 定义一个函数，将每个元素乘以2
def multiply_by_two(x):
    return x.A * 20 + x.B

df.apply(multiply_by_two, axis=1)

0     30
1     60
2     90
3    120
4    150
dtype: int64